.main-box {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-box .sub-box {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: white;
}

.box3 {
  background-color: yellow;
}

.box4 {
  background-color: yellowgreen;
}
