@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.list-box {
  width: 100vw;
  height: 100vh;
  background-color: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-box .todo-app {
  width: 40%;
  height: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.list-box .todo-app .inputbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.list-box .todo-app .inputbtn input {
  height: 30px;
  font-size: 25px;
  padding: 20px;
  outline: none;
  border: 2px solid #023047;
  border-radius: 50px;
}

/* attribute selector tag[attr="value"] */
.list-box .todo-app .inputbtn button {
  height: 45px;
  padding: 6px 20px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  background-color: #023047;
  color: white;
  cursor: pointer;
}

.list-box .task-todo {
  width: 72%;
  height: auto;
  padding: 10px;
  background-color: #023047;
  border-radius: 5px;
}

.list-box .task-todo ul{
  list-style-type: disc;
}

.list-box .task-todo li{
  color: white;
  font-size: 20px;
}
