.react {
  font-size: 50px;
  text-align: center;
  width: 100%;
  background-color: aqua;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.resort-image {
  width: 100%;
  height: auto;
  padding: 30px;
}

.resort-image img {
  width: 100%;
}
