@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* css variables */
:root {
  --black: #000000;
  --redish: #780000;
}

.react {
  font-size: 50px;
  text-align: center;
  width: 100%;
  background-color: aqua;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.resort-image {
  width: 100%;
  height: auto;
  padding: 30px;
}

.resort-image img {
  width: 100%;
}

.main-products {
  width: 100%;
  height: auto;
  padding: 25px 0px;
  background-color:transparent  ;
  display: flex;
  justify-content: space-evenly;
}

.main-products .products-1 {
  width: 400px;
  height: auto;
  /* background-color: white; */
}

.main-products .products-1 img {
  width: 100%;
}
